test/maptiletest
build/
managed_components/
sdkconfig
sdkconfig.old
test/nmeatest
test/mapviewtest
test/tilesrctest
test/builddatetest
test/portalwebtest
test/launcherkeytest
test/suntest
test/uirowtest
test/waypointstest
# Made by cmake/exfat.cmake from the installed IDF (0018); not source.
components/fatfs/
test/worldtiletest
test/worldtile.bin
test/lastfixtest
test/areatest
test/aoptest
test/maplabeltest
test/placestest
